__pycache__
*.pyc
.env*
instance/
venv/
env/
.venv/
__pypackages__/
.DS_Store
*.sqlite3
*.log
*.pot
*.mo
*.egg-info/
*.egg
dist/
build/
dataset/
node_modules/
npm-debug.log*
yarn-error.log*
coverage/
htmlcov/
.tox/
.coverage
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/    
models/